body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}
.container{
    text-align: center;
}
.steps {
    display: flex;
    justify-content: space-around;
    background-color: #222;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #4CAF50;
    padding: 20px;
    width: 330px;
    border-radius: 5px;
}
.step {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #333;
    color: #fff;
}
.step.active,
.step.completed {
  background: #4CAF50;
}
button{
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    background: #4CAF50;
    color: #fff;
    cursor: pointer;
    margin: 10px 5px;
}
button:disabled {
    background: #ccc;
}